appdirs==1.4.3
attrs==18.2.0
black==18.9b0
Click==7.0
Django==2.1.4
pytz==2018.7
toml==0.10.0
djangorestframework==3.9.0
channels==2.1.6
channels_redis==2.3.3
drf_yasg==1.12.1
djoser==1.4.0
django-cors-headers==2.4.0
