.HomeGridContainer {
    display: grid;
    grid-template-rows: 12% 83% 5%;
    grid-template-columns: 25% 20% 55%;
    grid-template-areas: 
        "pending search search"
        "pending category menu"
        "pending footer footer";
    max-height: 85vh;
}
