{
    "tabWidth": 4,
    "useTabs": false,
    "trailingComma": "all",
    "semi": true,
    "singleQuote": false,
    "bracketSpacing": true,
    "arrowParens": "always",   
    "jsxSingleQuote": true,
    "jsxBracketSameLine": false
}
