.footer {
    grid-area: footer;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 50;

    background-color: #0477BD;
}

.footer > span {
    margin: 0 45px 0 45px;
    color: white;
    font-weight: bold;
}
