.CategoryColumn {
    grid-area: category;
    overflow: auto;
    border-right: 5px solid #D0D8DD;
    display: flex;
    flex-direction: column;
}

.CategoryColumn > .column-heading {
    display: flex;
    justify-content: center;
}
