.MenuItemColumn {
    grid-area: menu;
    background-color: #DDF3FD;
    border-bottom: 3px solid #D0D8DD;
    display: flex;
    flex-direction: column;
}

.MenuItemColumn > .column-heading {
    display: flex;
    justify-content: center;
}
