.PendingColumn {
    background-color:#F3F3F3;
    height: 81vh;
    overflow-y: auto;
    overflow-x: hidden;
    grid-area: pending;
    border-right: 5px solid #D0D8DD;
    
    
}

.PendingColumn > .column-heading {
    background: inherit;
}
